---
const tasks = [
    "Свій шлях розпочала в ІТ, де організовувала перші події, що покращували рівень задоволеності працівників та сприяли залученню до досягнення бізнес-цілей.",
    "Перейшла до сфери організації групових тренінгів після навчання з фасилітації у київській школі Facilitation Park.",
    "Член IAF – спільноти фасилітаторів. Я маю ступінь магістра Human Resources Management, Варшавського Університету.",
    "Я знаходжусь у Кракові, але часто приїжджаю до Варшави, Львова та Києва. Я відкрита до поїздок, або ж налаштуємо віддалену співпрацю. ",
];
---

<section
    class="xl:mx-40 mx-4 md:min-h-[90vh] py-20 flex items-center justify-center overflow-visible"
>
    <div class="text-secondary-night max-w-3xl mx-auto">
        <!-- Mobile-only heading -->
        <h1 class="text-displayMedium pb-20 md:hidden text-center">
            Вірю, що в кожному з нас є <span>rocket</span> inside!
        </h1>

        <div>
            <!-- Desktop/tablet heading -->
            <h1 class="text-displayMedium pb-20 hidden md:block text-center">
                Вірю, що в кожному з нас є <span>rocket</span> inside!
            </h1>
            <div class="text-displayXSmall pb-10 text-center">Я...</div>
            <ul class="list-disc pl-6 space-y-10 text-body">
                {tasks.map((task) => <li>{task}</li>)}
            </ul>
        </div>
    </div>
</section>
