---
import CartoonKate from "@assets/cartoon-kate.svg";

const tasks = [
    "розробляю стратегій внутрішніх комунікацій під час трансформацій.",
    "проводжу стратегічні зустрічі з керівництвом для покращення бізнес-процесів.",
    "запускаю та інтегрую систему OKR.",
    "розвиваю внутрішні спільноти, щоб посилити культуру та взаємодію.",
    "член IAF - спільноти фасилітаторів. Випускниця Варшавського університету за напрямком управління людськими ресурсами (HRM).",
];
---

<section
    class="xl:mx-40 mx-4 min-h-screen flex items-center justify-center overflow-hidden"
>
    <div class="text-secondary-night max-w-3xl mx-auto">
        <!-- Mobile-only heading -->
        <h1 class="text-displayMedium pb-20 md:hidden text-center">
            Вірю, що в кожному з нас є <span>rocket</span> inside!
        </h1>

        <div>
            <!-- Desktop/tablet heading -->
            <h1 class="text-displayMedium pb-20 hidden md:block text-center">
                Вірю, що в кожному з нас є <span>rocket</span> inside!
            </h1>
            <div class="text-caption pb-10 text-center">Я...</div>
            <ul class="list-disc pl-6 space-y-10 text-caption">
                {tasks.map((task) => <li>{task}</li>)}
            </ul>
        </div>
    </div>
</section>
