---
import CartoonKate from "@assets/cartoon-kate.svg";

const tasks = [
    "розробляю стратегій внутрішніх комунікацій під час трансформацій.",
    "проводжу стратегічні зустрічі з керівництвом для покращення бізнес-процесів.",
    "запускаю та інтегрую систему OKR.",
    "розвиваю внутрішні спільноти, щоб посилити культуру та взаємодію.",
    "член IAF - спільноти фасилітаторів. Випускниця Варшавського університету за напрямком управління людськими ресурсами (HRM).",
];
---

<section class="xl:mx-40 mx-4 pt-12 md:pt-24 pb-20 overflow-hidden">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 text-secondary-night">
        <!-- Mobile-only heading -->
        <h1 class="text-displayMedium pb-20 md:hidden order-first">
            Вірю, що в кожному з нас є <span>rocket</span> inside!
        </h1>

        <div class="order-last md:order-none">
            <!-- Desktop/tablet heading -->
            <h1 class="text-displayMedium pb-20 hidden md:block">
                Вірю, що в кожному з нас є <span>rocket</span> inside!
            </h1>
            <div class="text-caption pb-10">Я...</div>
            <ul class="list-disc pl-6 space-y-10 text-caption">
                {tasks.map((task) => <li>{task}</li>)}
            </ul>
        </div>
        <div
            class="flex flex-col items-center justify-center h-full order-2 md:order-none"
        >
            <div class="h-full flex flex-col gap-6">
                <CartoonKate class="h-full" />
                <div class="flex justify-center">
                    <div class="text-left">
                        <p class="text-heading">Катерина Кошенко,</p>
                        <p class="text-caption">HR, Фасилітатор</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
