<section
    class="bg-primary-cotton flex flex-1 md:px-40 px-auto py-20 gap-10 lg:gap-24 xl:gap-52 lg:flex-row flex-col items-center text-center lg:text-left"
>
    <div class="flex flex-col gap-14">
        <h2 class="text-displayMedium">
            ...через
            <span class="bg-shades-lagoon-50 px-2 py-0.5 rounded-full">
                консультацію
            </span>
        </h2>
        <p class="text-displayXSmall">
            Ми підемо на глибину вашого запиту, визначимо, що насправді важливо,
            і разом складемо план, як будемо йти до цілі, враховуючи ваші
            потреби та ритм.
        </p>
    </div>

    <div class="flex flex-col gap-14">
        <h2 class="text-displayMedium">
            ...через
            <span class="bg-primary-eggnog px-2 py-0.5 rounded-full">
                фасилітацію
            </span>
        </h2>
        <p class="text-displayXSmall">
            Я створюю умови для синергії в команді, щоб навчити і/або запустити
            процеси, з якими ваші люди не лише ознайомляться, але й почнуть
            застосовувати у своїх діях.
        </p>
    </div>
</section>
