---
import FlipTile from "@components/tiles/FlipTile.astro";
import ShiningEffect from "@assets/shining-effect.svg";
import AchievementBadge from "@assets/achievement-badge.svg";
import DoubleDiamond from "@assets/double-diamond.svg";
---

<section class="relative z-10">
    <div
        class="md:min-h-[90vh] py-20 md:py-0 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 relative"
    >
        <FlipTile
            class="bg-primary-lagoon md:p-10 p-4"
            tileClass="md:row-span-2"
        >
            <div slot="front-slot" class="flex flex-col h-full">
                <h2 class="text-displayMedium text-secondary-ghost">
                    Чому співпраця зі мною?
                </h2>
                <div class="flex-1 flex justify-center items-center">
                    <ShiningEffect />
                </div>
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <h2 class="text-displayMedium text-secondary-ghost">
                    Чому співпраця зі мною?
                </h2>
                <h2 class="text-displaySmall text-secondary-ghost">
                    Людські відносини в контексті взаємодії працівник-бізнес, це
                    моя зона експертизи.
                </h2>
                <div class="text-secondary-ghost text-displayXSmall">
                    Я працюю на результат і, якщо бачу, що не можу бути
                    корисною, чесно скажу про це і постараюсь знайти когось із
                    мого нетворку, хто зможе допомогти.
                </div>
                <div class="text-secondary-ghost text-displayXSmall">
                    <b>Результат-орієнтований</b> підхід я застосовую в кожному варіанті
                    співпраці, незалежно від того, чи це клієнт з кар'єрним запитом,
                    лідер, який прагне розвитку, чи власник.
                </div>
            </div>
        </FlipTile>
        <FlipTile class="bg-primary-eggnog md:p-10 p-4">
            <div slot="front-slot" class="flex flex-col">
                <h2 class="text-displayMedium text-secondary-night">
                    Персональний запит
                </h2>
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <h2 class="text-displayMedium text-secondary-night">
                    Персональний запит
                </h2>
                <div class="text-secondary-night text-displayXSmall">
                    Коли ви прагнете отримати розв'язання своїх кар'єрних питань
                    від незалежного HR.
                </div>
            </div>
        </FlipTile>
        <FlipTile class="bg-shades-lagoon-50 md:p-10 p-4">
            <div slot="front-slot" class="flex flex-col h-full">
                <h2 class="text-displayMedium text-secondary-ghost">B2B</h2>
                <div class="flex-1 flex justify-center items-center">
                    <DoubleDiamond />
                </div>
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <h2 class="text-displayMedium text-secondary-ghost">B2B</h2>
                <div class="text-secondary-ghost text-displayXSmall">
                    Якщо ви оберете аналіз вашої проблеми - я допоможу вам
                    <b>побачити невидиме.</b>
                </div>
                <div class="text-secondary-ghost text-displayXSmall">
                    Якщо у вас є конктерний запит - запропоную <b
                        >оптимальне рішення.</b
                    >
                </div>
                <div class="text-secondary-ghost text-displayXSmall">
                    Опція "воркшоп” - разом ми визначимо вашу мету та підберемо
                    експерта у вашому питанні, спільно з яким <b
                        >адаптуємо воркшоп під вашу бізнес ціль та команду.</b
                    >
                </div>
            </div>
        </FlipTile>
        <FlipTile class="bg-primary-cotton md:p-10 p-4">
            <div slot="front-slot" class="flex flex-col h-full">
                <h2 class="text-displayMedium text-secondary-night">
                    Лідери команд
                </h2>
                <div class="flex-1 flex justify-center items-center">
                    <AchievementBadge />
                </div>
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <h2 class="text-displayMedium text-secondary-night">
                    Лідери команд
                </h2>
                <div class="text-secondary-night text-displayXSmall">
                    Підтримка тих самих сильних лідерів 💪🔋 Допомога в розвитку
                    навичок, важливих для управління командою.
                </div>
            </div>
        </FlipTile>
        <FlipTile class="bg-primary-smoke md:p-10 p-4">
            <div slot="front-slot" class="flex flex-col">
                <h2 class="text-displayMedium text-secondary-ghost">
                    HR спеціалісти
                </h2>
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <h2 class="text-displayMedium text-secondary-ghost">
                    HR спеціалісти
                </h2>
                <div class="text-secondary-ghost text-displayXSmall">
                    Якщо у вас є проблема / питання, або може стопер - я залюбки
                    поділюсь знаннями в межах моєї експертизи і максимально
                    допоможу.
                </div>
            </div>
        </FlipTile>
    </div>
</section>

<style>
    section {
        isolation: isolate;
    }
</style>
