---
import FlipTile from "@components/tiles/FlipTile.astro";
---

<section class="relative z-10">
    <div
        class="md:min-h-[90vh] py-20 md:py-0 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 relative"
    >
        <FlipTile
            class="bg-primary-cotton md:p-10 p-4"
            tileClass="md:row-span-2"
        >
            <div slot="front-slot" class="flex flex-col h-full justify-center">
                <h2
                    class="text-[3.5rem] leading-[1.2] font-light text-secondary-night"
                >
                    <i class="font-semibold">Чому співпраця</i> зі мною?
                </h2>
            </div>

            <div
                slot="back-slot"
                class="flex flex-col gap-10 text-secondary-night"
            >
                <h2 class="text-displayMedium">
                    <i class="font-semibold">Чому співпраця</i> зі мною?
                </h2>
                <i class="text-displaySmall">
                    Людські відносини в контексті взаємодії працівник-бізнес, це
                    моя зона експертизи.
                </i>
                <div class="text-displayXSmall">
                    Я працюю на результат і, якщо бачу, що не можу бути
                    корисною, чесно скажу про це і постараюсь знайти когось із
                    мого нетворку, хто зможе допомогти.
                </div>
                <div class="text-displayXSmall">
                    <b class="font-bold">Результат-орієнтований</b>
                    підхід я застосовую в кожному варіанті співпраці, незалежно від
                    того, чи це клієнт з кар'єрним запитом, лідер, який прагне розвитку,
                    чи власник.
                </div>
            </div>
        </FlipTile>
        <FlipTile class="bg-primary-eggnog md:p-10 p-4">
            <div slot="front-slot" class="flex flex-col h-full justify-center">
                <h2
                    class="text-[3.5rem] leading-[1.2] font-light text-secondary-night"
                >
                    <i class="font-semibold">Персональний</i> запит
                </h2>
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <i class="text-displayMedium text-secondary-night">
                    Персональний запит
                </i>
                <div class="text-secondary-night text-displayXSmall">
                    Pозв'язання ваших кар'єрних питань від незалежного HR.
                </div>
            </div>
        </FlipTile>
        <FlipTile class="bg-shades-lagoon-50 md:p-10 p-4">
            <div slot="front-slot" class="flex flex-col h-full justify-center">
                <i
                    class="text-[3.5rem] leading-[1.2] font-semibold text-secondary-night"
                    >B2B</i
                >
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <i class="text-displayMedium text-secondary-night">B2B</i>
                <div class="text-secondary-night text-displayXSmall">
                    Якщо ви оберете аналіз вашої проблеми - я допоможу вам
                    <b class="font-bold">побачити невидиме.</b> Якщо ж у вас є конктерний
                    запит - запропоную
                    <b class="font-bold">рішення.</b>
                </div>
            </div>
        </FlipTile>
        <FlipTile class="bg-primary-smoke md:p-10 p-4">
            <div slot="front-slot" class="flex flex-col h-full justify-center">
                <h2
                    class="text-[3.5rem] leading-[1.2] font-light text-secondary-night"
                >
                    <i class="font-semibold">Лідери</i> команд
                </h2>
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <i class="text-displayMedium text-secondary-night">
                    Лідери команд
                </i>
                <div class="text-secondary-night text-displayXSmall">
                    Допомога в розвитку навичок управління командою та вирішенні
                    складних внутрішніх питань.
                </div>
            </div>
        </FlipTile>
        <FlipTile class="bg-shades-lagoon-20 md:p-10 p-4">
            <div slot="front-slot" class="flex flex-col h-full justify-center">
                <i
                    class="text-[3.5rem] leading-[1.2] font-light text-secondary-night"
                >
                    <i class="font-semibold">HR</i> спеціалісти
                </i>
            </div>

            <div slot="back-slot" class="flex flex-col gap-10">
                <i class="text-displayMedium text-secondary-night">
                    HR спеціалісти
                </i>
                <div class="text-secondary-night text-displayXSmall">
                    Допомагаю колегам HR зростати та знаходити об'єктивні
                    рішення у складних ситуаціях.
                </div>
            </div>
        </FlipTile>
    </div>
</section>

<style>
    section {
        isolation: isolate;
    }
</style>
