---
import kateHello from "@assets/kate-hello-sqr.webp";
import { Image } from "astro:assets";
---

<section class="my-20 lg:px-40 px-auto">
    <div class="flex items-center gap-7 lg:gap-14 mb-8 lg:flex-row flex-col">
        <Image
            src={kateHello}
            alt="HR Kate holding notes, she is brunet and smiling. Mood is warm and positive"
            class={"w-[332px] h-[342px] rounded-full object-cover"}
            quality={"high"}
        />

        <div class="flex flex-col gap-14 items-center lg:items-start">
            <p
                class="text-secondary-night text-[46px] leading-[1.2] font-light text-center lg:text-left"
            >
                Привіт, мене звати Катя, я займаюсь <i class="font-bold"
                    >HR-консалтингом</i
                > та <i class="font-bold">організацією командних тренінгів</i>
            </p>
            <p
                class="text-secondary-night text-[48px] leading-[1.2] text-center lg:text-left font-light"
            >
                Я складаю рішення для клієнтів холістично, як <i
                    class="font-bold"
                >
                    конструктор LEGO</i
                >
            </p>
        </div>
    </div>
</section>
