---
import ButtonAction from "@components/button/ButtonAction.astro";
import WorkFlowDiagram from "@components/landing/workflow/WorkFlowDiagram.astro";
---

<section
    class="xl:px-40 px-4 pt-12 md:pt-24 pb-20 bg-primary-eggnog flex flex-col items-center gap-16"
>
    <h1 class="text-displayMedium">Досліджуємо. Створюємо. Впроваджуємо.</h1>
    <WorkFlowDiagram />
    <ButtonAction text="Забронювати дзвінок" href="#footer" />
</section>
