---
import ButtonAction from "@components/button/ButtonAction.astro";
import Slide from "@components/slide/Slide.astro";
const { class: className, ...rest } = Astro.props;
---

<Slide class="bg-shades-eggnog-75">
    <div class="flex flex-col h-full justify-end gap-2">
        <h2 class="text-displaySmall">Незалежний HR</h2>
        <h3 class="text-caption">Для індивідуальних клієнтів</h3>
    </div>

    <div class="flex flex-col gap-6 h-full justify-center">
        <div class="flex flex-col">
            <p class="text-caption font-bold">
                Я - ваш незалежний HR-консультант. У мене немає жодних інтересів
                щодо вашої кар'єри, тому можу чесно підказати, що робити, якщо
                ви не знаєте, як рухатись далі, застрягли на місці, або виникли
                питання з управління командою.
            </p>
        </div>

        <p class="text-caption">
            Моя мета — допомогти вам розібратися в ситуації і надати об'єктивну
            HR-експертизу для вирішення вашого питання.
        </p>

        <div class="mt-5 justify-items-end">
            <ButtonAction
                text="Розпочати проект"
                href="https://cal.com/kateryna-koshenko-kkhqct/60-min-meeting"
            />
        </div>
    </div>
</Slide>
