---
import ButtonAction from "@components/button/ButtonAction.astro";
import Slide from "@components/slide/Slide.astro";
const { class: className, ...rest } = Astro.props;
---

<Slide class="bg-shades-lagoon-75">
    <div class="flex flex-col h-full justify-end gap-2">
        <h2 class="text-displaySmall">Тренінг, воркшоп</h2>
        <h3 class="text-caption">Для бізнесів</h3>
    </div>

    <div class="flex flex-col gap-6 h-full justify-center">
        <div class="flex flex-col">
            <p class="text-caption">
                Це навчання для вашої команди, яке поєднує ігрові методи з
                фасилітаційними техніками для вирішення вашого бізнес-запиту.
                <b
                    >Концепція тренінгу буде зібрана, як деталі з LEGO,
                    індивідуально під вашу команду та потребу.</b
                > Ось кілька варіантів тренінгів: Генерація нових ідей та рішень
                для поточних або нових проектів.
            </p>
        </div>

        <ul class="text-caption space-y-5 list-disc list-outside ml-6">
            <li>
                <b>Клієнтський сервіс</b> — для бізнесів, які прагнуть покращити
                досвід своїх клієнтів.
            </li>
            <li>
                <b>Ефективна комунікація в команді</b> — для команд, які бажають
                налагодити продуктивну і здорову взаємодію всередині колективу.
            </li>
        </ul>

        <p class="text-caption">
            <b
                >Також можливе створення тренінгу під будь-який інший
                специфічний запит вашого бізнесу.</b
            > У такому випадку я залучаю відповідного експерта, щоб надати точне
            вирішення, а сама беру на себе організацію тренінгу: від проектування
            вправ до координації групової сесії, забезпечуючи максимальну відповідність
            тренінгу вашим вимогам.
        </p>

        <div class="mt-5 justify-items-end">
            <ButtonAction text="Розпочати проект" />
        </div>
    </div>
</Slide>
