---
import ButtonAction from "@components/button/ButtonAction.astro";
import Slide from "@components/slide/Slide.astro";
const { class: className, ...rest } = Astro.props;
---

<Slide class="bg-shades-lagoon-30">
    <div class="flex flex-col h-full justify-end gap-2">
        <h2 class="text-displaySmall">Тренінг, воркшоп</h2>
        <h3 class="text-caption">Для бізнесів</h3>
    </div>

    <div class="flex flex-col gap-6 h-full justify-center">
        <div class="flex flex-col">
            <p class="text-caption font-bold">
                Співпрацюючи проєктно - я працюю на результат. Ми погоджуємо
                нашу точку Б, узгоджуємо терміни на кожен майлстоун та
                підписуємо договір про проєкнту співпрацю.
            </p>
        </div>

        <p class="text-caption">
            Якщо ви не зовсім чітко розумієте, в чому саме проблема, але
            відчуваєте, що щось не працює так, як хотілося б, запишіться на
            дзвінок. Під час розмови ми з’ясуємо, чи можу я вирішити ваш запит,
            і, якщо так, разом визначимо наступні кроки.
        </p>

        <div class="mt-5 justify-items-end">
            <ButtonAction text="Розпочати проект" />
        </div>
    </div>
</Slide>
