<div
    class="flex xl:gap-36 md:gap-20 w-full md:flex-row flex-col xl:items-stretch items-center"
>
    <div
        class="xl:w-[710px] xl:h-[870px] md:w-[360px] md:h-[630px] h-[530px] w-full bg-slate-100 p-6 rounded-3xl"
    >
        Video
    </div>
    <div
        class="flex flex-col justify-between text-secondary-night gap-10 w-full"
    >
        <div class="flex flex-col gap-8 pt-10">
            <div class="text-displayLarge text-primary-eggnog">4 роки</div>
            <div class="text-caption">
                досвіду в HR в IT, робота з full employee cycle.
            </div>
        </div>

        <div class="flex flex-col gap-8">
            <div class="text-displayLarge text-primary-lagoon">40+ івентів</div>
            <div class="text-caption">
                Організація 40+ професійних і тімбілдингових івентів.
            </div>
        </div>

        <div class="flex flex-col gap-8 pb-10">
            <div class="text-displayLarge text-primary-wood">32 країни</div>
            <div class="text-caption">
                Запуск віддаленого онбордингу для 32 країн.
            </div>
        </div>
    </div>
</div>
