---
import Header from "@components/Header.astro";
import { Image } from "astro:assets";
import kateHello from "@assets/kate-hello-sqr.webp";
import Slider from "@components/slider/Slider.astro";
import Tiles from "@components/tiles/Tiles.astro";
import RocketInside from "@components/RocketInside.astro";
import VideoAndNumbers from "@components/VideoAndNumbers.astro";
---

<div class="text-secondary-night">
    <!-- Header -->
    <Header />
    <!-- Who I am? -->
    <section class="my-20 lg:px-40 px-auto">
        <div
            class="flex items-center gap-7 lg:gap-14 mb-8 lg:flex-row flex-col"
        >
            <Image
                src={kateHello}
                alt="HR Kate holding notes, she is brunet and smiling. Mood is warm and positive"
                class={"w-[332px] h-[342px] rounded-full object-cover"}
                quality={"high"}
            />

            <div class="flex flex-col gap-5 items-center lg:items-start">
                <h1
                    class="font-amatic text-[144px] leading-[150px] text-center lg:text-left"
                >
                    ПРИВІТ, МЕНЕ ЗВАТИ КАТЯ
                </h1>
                <p class="text-[48px] leading-[1.2] text-center lg:text-left">
                    Я покращую командну взаємодію та відкриваю потенціали
                    людей...
                </p>
            </div>
        </div>
    </section>

    <!-- Services section -->
    <section
        class="bg-primary-cotton flex flex-1 md:px-40 px-auto py-20 gap-10 lg:gap-24 xl:gap-52 lg:flex-row flex-col items-center text-center lg:text-left"
    >
        <div class="flex flex-col gap-14">
            <h2 class="text-displayMedium">
                ...через
                <span class="bg-shades-lagoon-50 px-2 py-0.5 rounded-full">
                    консультацію
                </span>
            </h2>
            <p class="text-displayXSmall">
                Професійна підтримка та інструменти з мого досвіду для дизайну
                вашої кар'єри та покращення робочих комунікацій.
            </p>
        </div>

        <div class="flex flex-col gap-14">
            <h2 class="text-displayMedium">
                ...через
                <span class="bg-primary-eggnog px-2 py-0.5 rounded-full">
                    фасилітацію
                </span>
            </h2>
            <p class="text-displayXSmall">
                Проведення інтерактивних сесій для генерації ідей, покращення
                роботи в команді та визначення цілей.
            </p>
        </div>
    </section>

    <!-- Sliders section -->
    <section class="xl:mx-40 mx-4 pt-24 pb-20 flex flex-col items-center">
        <h2 class="text-displayMedium pb-1">Пакети</h2>
        <Slider />
    </section>

    <!-- Tiles section -->
    <section>
        <Tiles />
    </section>

    <!-- Rocket inside section -->
    <section class="xl:mx-40 mx-4 pt-12 md:pt-24 pb-20 overflow-hidden">
        <RocketInside />
    </section>

    <!-- Video and numbers section -->
    <section class="xl:mx-40 mx-4 pt-12 md:pt-24 pb-20">
        <VideoAndNumbers />
    </section>
</div>
