---
import Header from "@components/landing/Header.astro";
import RocketInsideSection from "@components/landing/RocketInsideSection.astro";
import VideoAndNumbersSection from "@components/landing/VideoAndNumbersSection.astro";
import WhoIAmSection from "@components/landing/WhoIAmSection.astro";
import ServicesSection from "@components/landing/ServicesSection.astro";
import SlidesSection from "@components/landing/SlidesSection.astro";
import TilesSection from "@components/landing/TilesSection.astro";
---

<div class="text-secondary-night">
    <!-- Header -->
    <Header />
    <!-- Who I am? -->
    <WhoIAmSection />
    <!-- Services section -->
    <ServicesSection />
    <!-- Slides section -->
    <SlidesSection />
    <!-- Tiles section -->
    <TilesSection />
    <!-- Rocket inside section -->
    <RocketInsideSection />
    <!-- Video and numbers section -->
    <VideoAndNumbersSection />
</div>
