---
import ButtonAction from "@components/button/ButtonAction.astro";
import Slide from "./Slide.astro";
import Textarea from "@components/Textarea.astro";
const { class: className, ...rest } = Astro.props;
---

<Slide class="bg-shades-lagoon-20">
    <div class="flex justify-between items-end">
        <h2 class="text-displaySmall">Вирішення точкових питань</h2>
    </div>

    <div class="flex flex-col gap-10">
        <div class="flex flex-col gap-6">
            <p class="text-body">
                Напишіть своє питання для ознайомлення. Після цього я вирішу, чи
                можу покрити це самостійно, а якщо ні — пошукаю відповідного
                експерта зі своїх контактів для створення комплексного рішення.
                Я не продаю години роботи — ані свої, ані експерта — ми
                пропонуємо розв’язок.
            </p>
            <h3 class="text-heading">
                Мета — максимально швидко і без зайвих помилок привести вас до
                бажаного результату.
            </h3>
        </div>

        <Textarea
            label="Опишіть ключові виклики або цілі, які ви хочете вирішити"
            rows={2}
            required={true}
            name="specific-questions-textarea"
        />

        <div>
            <ButtonAction text="Надіслати" />
        </div>
    </div>
</Slide>
